<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
    <serverUrl url="http://static.arcgis.com" matchAll="true"/>
    <serverUrl url="http://utility.arcgis.com" matchAll="true"/>
    <serverUrl url="http://traffic.arcgis.com/arcgis/rest/services/" username="scottevansdavis44" password="tinker" matchAll="true"/>
    <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services" matchAll="true"/>
    <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
    <serverUrl url="http://server.arcgisonline.com" matchAll="true"/>
    <serverUrl url="http://www.arcgis.com" matchAll="true"/>
    <serverUrl url="http://MARVLISWEB.fayps.local" matchAll="true"/>
    <serverUrl url="http://MARVLISWEB.fayps.local:6080" matchAll="true"/>
    <serverUrl url="http://idpgis.ncep.noaa.gov" matchAll="true"/>
    <serverUrl url="https://idpgis.ncep.noaa.gov" matchAll="true"/>
    <serverUrl url="http://mesonet.agron.iastate.edu" matchAll="true"/>
  </serverUrls>
</ProxyConfig>
